
body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

/* This section is for the Header/Nav Bar, which is fixed. */

header{
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  align-items: center;
  text-align: center;
  background-color: black;
}

nav{
  text-align: right;
  flex-grow: 1
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.logo img{
  height: 50px;
  padding-left: 10px;
}

.flex-container{
  display: flex;
  text-align: center;
}

nav a{
  color:seashell;
}

/*End Header/Nav Bar Section */

.page{
  padding-top: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

/*Mission Section - Setup as a FlexBox with a background image. */

div {
  /*border: 3px solid red;*/
}

#mission{
  display: flex;
  height: 700px;
  background-image: url("../Images/img-mission-background.jpg");
  padding-top: 70px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#mission .content{
  width: 100%;
  background-color: black;
  opacity: 0.9;
}

/* Monthly Teas - covers the monthly flex container, containing the content and specials containers - and the specials container contains 5 'special' containers, each dedicated to a special. */

#monthly{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#monthly .content{
  background-color: black;
  width: 100%;
}

.specials{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.special{
  padding: 5px;
}

.special img{
  height: 200px;
  margin: 10px;
  display: block;
  padding-bottom: 10px;
}

.special span{
  font-weight: bold;
}

#locations{
  height: 500px;
  width: 1200px;
  background-image: url("../Images/img-locations-background.jpg");
  padding-top: 50px;
}

#locations h2{
  display: block;
  padding: 10px;
}


div.location-row{
  display: flex;
  justify-content: space-around;

}

.location-box{
  flex-basis: 280px;
  background-color: black;
  margin:: 5px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact{
  height: 200px;
}

footer{
  width: 100%;
  text-align: left;
  font-weight: normal;
  padding-left: 20px;
}
